footer.footer
  .content.has-text-centered
    h4.title
      strong Support 
      | Haagwee 
      span 😃

/   <div class="bd-footer-donations columns">
/     <div class="bd-footer-donation column">
/       <p class="bd-footer-donation-title">
/         <strong>One-time</strong> donation
/       </p>
/       <div class="bd-footer-donation-action">
/         <form class="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
/           <input type="hidden" name="cmd" value="_s-xclick">
/           <input type="hidden" name="hosted_button_id" value="8WMKYSRFN6A78">
/           <input type="image" src="https://bulma.io/images/paypal-donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online." height="30">
/           <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
/         </form>
/       </div>
/     </div>
/
/
/       <div class="bd-footer-donation column">
/         <p class="bd-footer-donation-title">
/           Visit our <strong>Sponsor</strong>
/         </p>
/
/
/
/
/
/
/
/ <div class="bd-footer-sponsor">
/   <a href="http://writersperhour.com/urgent-essay-writing-service" target="_blank" rel="nofollow" title="Writers Per Hour">
/     <img src="https://bulma.io/images/amis/writersperhour.png" srcset="https://bulma.io/images/amis/writersperhour.png 1x,
/           https://bulma.io/images/amis/writersperhour@2x.png 2x" alt="Writers Per Hour" width="105" height="45">
/
/   </a>
/ </div>
/
/
/       </div>
/
/
/     <div class="bd-footer-donation column">
/       <p class="bd-footer-donation-title">
/         <strong>Monthly</strong> donation
/       </p>
/       <div class="bd-footer-donation-action">
/         <a class="button bd-github-button" href="https://github.com/users/jgthms/sponsorship" target="_blank">
/   <span class="icon">
/     <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fas fa-heart"></i> -->
/   </span>
/   <strong>Sponsor</strong>
/   <em class="tag bd-mini-tag is-small is-success">New!</em>
/ </a>
/
/         <a class="bd-patreon-button" href="https://www.patreon.com/jgthms" target="_blank">
/   <img src="https://bulma.io/images/become-a-patron.png" srcset="https://bulma.io/images/become-a-patron.png 1x,
/           https://bulma.io/images/become-a-patron@2x.png 2x,
/           https://bulma.io/images/become-a-patron@3x.png 3x" alt="Become a Patron" width="148" height="36">
/
/ </a>
/
/       </div>
/     </div>
/   </div>
/ </div>
